.App {
  text-align: center;
  margin: auto;
  padding: auto;
  margin-top: 2rem;
  width: 40%;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
